{% extends "index.html" %}
{% block title %}About {% endblock title %}
{% block body %}
 
<section class=" background firstSection" >
  <div class="box-main">
   <!-- <div sttle="width: 320px;
    height: 475px;
    background: #452d2d;
    color: #fff;
    top: 9%;
    left: 68%;
    position:absolute;
    box-sizing: border-box;
    padding:70px 30px ;
    font-size: 14px;">
<p>slkgdjgdf kdfngafeg kvndfoijvdf nvdofijvdf voidfvldf  kjdfnvoiij</p>
    </div>-->
      <div class="firsthalf">
         <p class="text-big"> Pickwick Books store</p>
         <p class="text-small">In this world of 7 million people we need to educate all of them .This is the future of an educated world and we proud to say that the future of education is here</p>
      <div class="button">
          <button class="btn"<a href="/">Home</a></button>
          <button class="btn" >Watch video</button>

      </div>
      </div> 
      <div class="secondhalf">
          <img src="static/loho.webp"alt="laptop Image">
      </div>
  </div>
</section>



{% endblock body %}